<div class="lg:flex mx-10 mt-10 hidden">
  <div class="flex flex-col mr-10">
    <h1 class="text-center">Nome do quadro</h1>
    <p class="text-justify">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea reiciendis
      earum, nemo quis voluptas excepturi vel quos eveniet aspernatur cumque eos
      beatae ab at ad sapiente nesciunt, deleniti perferendis. Necessitatibus.
      Laborum unde animi rem ratione dolorum adipisci deserunt facilis, nobis
      explicabo fugit, incidunt eaque inventore quos quibusdam fugiat, hic
      accusamus magni cumque eius consequatur laudantium. Ipsam qui eveniet
      aliquid facere!
    </p>
  </div>
  <img
    src="https://img.pokemondb.net/artwork/large/probopass.jpg"
    alt=""
    class="max-h-40"
  />
</div>

<div class="flex flex-col mx-10 mt-10 lg:hidden">
  <h1 class="text-center">Nome do quadro</h1>
  <img
    src="https://img.pokemondb.net/artwork/large/probopass.jpg"
    alt=""
    class="max-h-40 aspect-square mx-auto my-5"
  />
  <p class="text-justify">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea reiciendis
    earum, nemo quis voluptas excepturi vel quos eveniet aspernatur cumque eos
    beatae ab at ad sapiente nesciunt, deleniti perferendis. Necessitatibus.
    Laborum unde animi rem ratione dolorum adipisci deserunt facilis, nobis
    explicabo fugit, incidunt eaque inventore quos quibusdam fugiat, hic
    accusamus magni cumque eius consequatur laudantium. Ipsam qui eveniet
    aliquid facere!
  </p>
</div>

<div>
  <h3>Last Notes</h3>
  <a [routerLink]="['login']">Nova nota</a>
  <a [routerLink]="['login']">ver todas</a>
</div>
