<div class="h-full flex justify-center items-center">
  <mat-card class="w-1/2">
    <mat-card-header>
      <mat-card-title class="text-white">Login</mat-card-title>
      <mat-card-subtitle>Access your account</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form class="flex flex-col" [formGroup]="loginForm">
        <mat-form-field>
          <mat-label>Enter your email</mat-label>
          <input
            matInput
            placeholder="exemplo@email.com"
            formControlName="email"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            type="password"
            matInput
            placeholder="exemplo@email.com"
            required
            formControlName="password"
          />
        </mat-form-field>
      </form>
      <a class="text-white mr-0" [routerLink]="['/register']"
        >Don't have an account? Create one!</a
      >
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" (click)="onSubmit()">
        Login
      </button>
    </mat-card-actions>
  </mat-card>
</div>
