<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node
    *matTreeNodeDef="let node"
    matTreeNodePadding
    matTreeNodePaddingIndent="24"
  >
    <!-- use a disabled button to provide padding for tree leaf -->
    <button mat-button class="leading-6">{{ node.name }}</button>
    <button mat-icon-button disabled></button>
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node
    *matTreeNodeDef="let node; when: hasChild"
    matTreeNodePadding
    matTreeNodePaddingIndent="24"
    class="ml-2 justify-between"
  >
    <button mat-button class="leading-6">{{ node.name }}</button>
    <button
      mat-icon-button
      matTreeNodeToggle
      [attr.aria-label]="'Toggle ' + node.name"
      class="flex"
    >
      <mat-icon class="mat-icon-rtl-mirror">
        {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
      </mat-icon>
    </button>
  </mat-tree-node>
</mat-tree>
